<html>
    <head>
        <title>Lore's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Riscos em LP</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Quem?</a></h2>
            <p>Uma consciência em busca de respostas. Enjoying the ride.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Nota aos leitores</a></h2>
            <p>Desculpe o transtorno, estamos sempre em reforma.</p>
        </div>
    </body>
</html>
